* {                 
    color: aqua;      /* * - применить ко всему тексту, низкий приоритет   */
}

h1 {
    color: red;     /* К заголовку h1   */
}

p {
     color:green;   /* к тегу p  */
}

div p {
    color: yellow;  /* ко всем p внутри div */
}
ul > li {
    color:chocolate; /* обращение к потомку ul -> li делает желтыми только кружечки  */
}