/* * {                 
    color: aqua;      /* * - применить ко всему тексту, низкий приоритет   */
    /* }  
/* селекторы тега их использовать плохая практика, нужно использовать селекторы класса */
/* =========================================================================================== */
 /* h1 { 
    color: red;     /* К заголовку h1   */
/*} 

p {
     color:green;   /* к тегу p  */
     
/* }

div p {
    color: yellow;  /* ко всем p внутри div */
/*}
ul > li {
    color:chocolate; /* обращение к потомку ul -> li делает желтыми только кружечки  */
/* }  
/* ============================================================================================= */
.wrapper{
    width: 900px;
    margin: auto;    /* выравниваем страницу по ширине страницы так нужно делать для правильного масштабирования */
    padding-top: 32px;
}
/* никогда не делать стили для id только классы */

.head-link {
    display: inline-block;
    
}

.text {
    font-family: sans-serif; /* быстый набор ff:ss */
    font-size: 18px;
    line-height: 1.2; /* междустрочный */
    color:fff;
    padding-left: 3px;
    padding-right: 3px;
}
.card-title {
    font-size: 12px;
    
}

.list{

    list-style: none;  /*убирает кружечки в списке отменяет стили*/
    margin-left: 150px;
    
    display: inline-block;
    margin-left: 100px;
}
.list-block{
    padding-left: 150px;
}
.list-element{

    display: inline-block; /*преобразует блочный элемент в строчный (появляеться право задавать ширину)*/
                            /*строчному элементу нельзя задать ширину или размеры, инлайн блок может */
    
}
.list-link{
    display: block; /* определяет ширину ссылки по ширине родителя  */
    width: 150px;  /* задаем ширину потомка 150 */
    background-color: gray;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    

}
.list-link:hover {
    color: chartreuse;
}
.card-mr{
    margin-left: 50px;
}
main{
    font-size: 0;
}
.card {
    font-size: 16px;
    display: inline-block;
    width: 45%;
    text-indent: 20px;
    border: 2px grey solid;
    margin-bottom: 5px;
    
}
.block-mrg {
    /* margin-right:30px; */
    background-color: antiquewhite;
}
.block-title,
.block-link {
    text-align: center;
}
.head-link{
    text-decoration: none;
    display: block;
    width: 100px;
    height: auto;
    background-color: gray;
    text-align: center;
    color: white;
}
.btn{
    margin-bottom: 10px;
    display: block;
    width: 100px;

}
.btn:hover {
    background-color: coral;
}